@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

*{
    color:rgb(151, 117, 67);
    font-family: 'Helvetica','Noto Sans TC',sans-serif;
    text-align:center;

}

body{
    width: 99%;
    height: 100%;
    background-color: rgb(255, 231, 199);
}

.calendar{
    background-color: rgb(255, 223, 186);
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
}

table tr{
    height: 35px;
}

.upCalendar{
    background-color: rgb(253, 216, 167);
}

.year{
    font-weight: bold;
}

.month{
    font-size:30px;
    font-weight: bold;
    width: 400;
    color:rgb(189, 147, 109);
}

.lastMonthBtn{
    margin-left: 30px;
    width: 50px;
    height: 50px;
    float: left;
    border: none;
    background-color: rgb(253, 216, 167);
}

.nextMonthBtn{
    margin-right: 37px;
    width: 50px;
    height: 50px;
    float: right;
    border: none;
    background-color: rgb(253, 216, 167);
}

#targetDay{
    background-color: #ffd1f77e;
    border-radius: 999em;
    width: 5px;
    height: 30px;
    border: 2px solid #ffe0fa;
    table-layout: fixed;
}

table{
    text-align: center;
}

form{
    margin-top: 10px;
}

button{
    border-color:rgb(255, 214, 227);
    color: rgb(124, 124, 124);
    background-color: rgb(250, 240, 243);
}

input{
    background-color: rgb(248, 226, 227);
    border-color: rgb(255, 200, 200);
}

div{
    text-align: center;
    
}

.todo{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 50%;
    background-color: #fae0af;
    display: flex;
}
.list{
    padding-left: 10px;
    margin: 0%;
    text-align: left;
    width: 60%;
}
.time{
    padding-top: 2px;
    margin: 0%;
    width:32%;
}
.deleteBtn{
    margin-left: 8px;
    padding: 0%;
    width: 20px;
    height: 20px;
    background-color: red;
}