body            {
    background-color: rgb(228, 208, 180);
    height: 100%;
}
a               {
    color: brown;
    text-decoration: none;
}
a:hover         {
    background-color: indianred;
    color:  white;
}
